# FOR LOOP <hr style="border:2.5px solid #e849a9ff"></hr>

<b> Ernie Crislyn Ogahayon </b>
<br> 3rd Year CpET Student

# ITERATING OVER A LIST <hr style="border:2.5px solid #e849a9ff"></hr>

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [4]:
# List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2==0]
result

[2, 4, 6, 8, 10]

# ITERATING OVER A DICTIONARY <hr style="border:2.5px solid #e849a9ff"></hr>

In [5]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [10]:
# key-value pair
employee = {'name':['Kaiii', 'Axel'],
            'position': ['Data Analyst', 'Developer'],
             'salary':[50000,80000]}

for key in employee:
    print(key)

name
position
salary

In [13]:
employee['salary']

[50000, 80000]

In [11]:
for value in employee.values():
    print(value)

['Kaiii', 'Axel']
['Data Analyst', 'Developer']
[50000, 80000]

# LAMBDA FUNCTION <hr style="border:2.5px solid #e849a9ff"></hr>

In [ ]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [ ]:
y = 4

(lambda x :
    2*x)(y)

8

In [18]:
type(x)

int